{% extends "base.html.twig" %}
{% block title %}
	Une erreur est survenue.
{% endblock %}
{% block seo %}
    <meta name="robots" content="nnoindex, nofollow">
{% endblock %}
{% block body %}
    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
                <h3>Oops! Contenu non trouvé.</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>Désolé, la page que vous voulez atteindre est introuvable</h2>
		</div>
	</div>
{% endblock %}