{% extends "templates/template.html.twig" %}
{% block title %}
    About Planify
{% endblock %}
{% block body %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="fs-xlg">About Planify</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta a sed explicabo! A, consequatur aut temporibus beatae illum qui dolorem dolore, vero repellat quia cupiditate ut voluptatibus tempora perferendis? Ea.
            </div>
        </div>
    </div>
{% endblock %}