{% extends "templates/template.html.twig" %}
{% block title %}
    Welcome on Planify
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="fs-xlg">
                        Welcome on Planify
                    </div>
                    <div class="fs-lg">
                        A Gantt Chart Builder for your projects.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}